@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #fff;
  line-height: 1.7;
  font-size: 13px;
}

/* Testimonial style container */
.testimonials {
  max-width: 1440px;
  margin: 100px auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* Cards Container */
.card {
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
  background-color: #fff;
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
}

/* card header container */
.card__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card__header h3 {
  font-size: 15px;
}

.card__header p {
  opacity: 50%;
}

.card_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #996ed9;
  margin-right: 10px;
}

.card__lead {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 20px;
}

.card__quote {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  opacity: 70%;
}

.card--bg-purple {
  background: hsl(263, 55%, 52%);
  color: #fff;
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 10px right 100px;
}

/* Grid style display */
.card--bg-dark-gray {
  background-color: hsl(217, 19%, 35%);
  color: #fff;
}

.card--blackish-blue {
  background: hsl(219, 29%, 14%);
  color: white;
}

.card:nth-of-type(1) {
  grid-column: 1 / 3;
}

.card:nth-of-type(4) {
  grid-column: 2 / 4;
  grid-row: 2;
}

.card:nth-of-type(5) {
  grid-column: 4;
  grid-row: 1 / 3;
}

/* Footer */
.attribution {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.attribution a {
  color: rgb(106, 103, 103);
  text-decoration: none;
}

.attribution:hover {
  color: steelblue;
}

/* Media Queries for difference screen */
@media (max-width: 768px) {
  .testimonials {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .card:nth-of-type(1) {
    grid-column: 1;
  }

  .card:nth-of-type(4) {
    grid-column: 1;
    grid-row: 4;
  }

  .card:nth-of-type(5) {
    grid-column: 1;
    grid-row: 5;
  }

  .attribution {
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
  }
}
